{erl_opts, [no_debug_info]}.
{deps, []}.
{cover_enabled, false}.

{escript_incl_apps,
 [enigma]}.
{escript_main_app, enigma}.
{escript_name, enigma}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
{cover_enabled, true}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
