{erl_opts, [no_debug_info]}.
{deps, []}.
{cover_enabled, false}.

{escript_incl_apps,
 [erlnigma]}.
{escript_main_app, erlnigma}.
{escript_name, erlnigma}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
{cover_enabled, true}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
